# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# tom-webber and analytics-hq will be requested for
# review when someone opens a pull request.
*   @tom-webber @ministryofjustice/analytics-hq
